.home-tiles__wrapper {
    padding: 2.5rem 0;
    min-height: 5rem;
}

@media (max-width: 1023.98px) {
    .home-tiles__wrapper {
        padding: 1.25rem 0;
    }
}

@media (max-width: 767.98px) {
    .home-tiles__wrapper {
        padding: 1rem 0;
    }
}

.home-tiles__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.625rem;
}

@media (max-width: 1023.98px) {
    .home-tiles__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
}

@media (max-width: 767.98px) {
    .home-tiles__inner {
        grid-template-columns: 1fr;
        grid-gap: 1.25rem;
    }
}

.home-tiles__item {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
    height: fit-content;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.home-tiles__item:hover {
    text-decoration: none;
}

@media (max-width: 1023.98px) {
    .home-tiles__item {
        min-height: 11.25rem;
    }
}

@media (max-width: 767.98px) {
    .home-tiles__item {
        min-height: 8.75rem;
    }
}

.home-tiles__item-image {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    aspect-ratio: 16 / 9;
}

.home-tiles__item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-tiles__item-image-default {
    background-color: rgb(243, 243, 243);
    aspect-ratio: 16 / 9;
    min-height: auto;
}

.home-tiles__item-image-default img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-tiles__item-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
}

.home-tiles__item-title {
    font-size: var(--dxp-s-text-heading-medium-font-size);
    font-family: var(--dxp-s-text-heading-medium-font-family);

    flex-grow: 0;
    text-transform: uppercase;
    word-break: break-word;
}

.home-tiles__item-image + .home-tiles__item-title {
    margin-top: 1.375rem;
}

@media (max-width: 1023.98px) {
    .home-tiles__item-title {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .home-tiles__item-image + .home-tiles__item-title {
        margin-top: 1rem;
    }
}

@media (max-width: 767.98px) {
    .home-tiles__item-title {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .home-tiles__item-image + .home-tiles__item-title {
        margin-top: 0.75rem;
    }
}

.home-tiles__item-description {
    font-size: var(--dxp-s-body-font-size);
    font-family: var(--dxp-s-body-font-family);

    flex-grow: 1;
    word-break: break-word;
    margin-top: 0.4375rem;
}

@media (max-width: 1023.98px) {
    .home-tiles__item-description {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .home-tiles__item-title + .home-tiles__item-description {
        margin-top: 0.25rem;
        line-height: 1.25rem;
    }
}

@media (max-width: 767.98px) {
    .home-tiles__item-description {
        font-size: 0.8rem;
    }

    .home-tiles__item-title + .home-tiles__item-description {
        margin-top: 0.1rem;
        line-height: 1.25rem;
    }
}

.custom-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.custom-truncate-line-1 {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.custom-truncate-line-2 {
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.custom-truncate-line-3 {
    -webkit-line-clamp: 3;
    line-clamp: 3;
}
