@font-face {
  font-family: "Forza";
  font-weight: 400;
  font-style: normal;
  src: url("/sfsites/c/resource/armorFonts/ForzaFont/Forza-Book.ttf")
    format("truetype");
}

@font-face {
  font-family: "Forza";
  font-weight: 500;
  font-style: medium;
  src: url("/sfsites/c/resource/armorFonts/ForzaFont/Forza-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Forza";
  font-weight: 700;
  font-style: bold;
  src: url("/sfsites/c/resource/armorFonts/ForzaFont/Forza-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  font-style: normal;
  src: url("/sfsites/c/resource/armorFonts/HelveticaFont/HelveticaNeue-Roman.otf")
    format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 500;
  font-style: medium;
  src: url("/sfsites/c/resource/armorFonts/Helvetica/HelveticaNeue-Roman.otf")
    format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  font-style: bold;
  src: url("/sfsites/c/resource/armorFonts/Helvetica/HelveticaNeue-Roman.otf")
    format("truetype");
}
